.eventCard {
    width: 260px;
    height: 280px;
    border-radius: 10px;
    color: white;
    margin: 10px 0px 15px 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}
.eventName{
    background-color: tomato;
    border-radius:  0px 0px 10px 10px;
    padding: 5px;
    width: 100%;
    text-align: center;
}
.eventName h3{
    font-size:20px;
}
.eventCard:hover{
    text-decoration: none;
    transition:transform 0.1s;
    color:#fff;
    box-shadow:0 0 10px 1px gray;
}